# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [1]:
def old_macdonald(name):
    return name[0:3].capitalize()+name[3:].capitalize()

In [2]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [9]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [10]:
# Check
master_yoda('I am home')

'home am I'

In [11]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [24]:
def almost_there(n):
    return (abs(n-100) <= 10  or (abs(n-200)<= 10))

In [25]:
# Check
almost_there(90)

True

In [26]:
# Check
almost_there(150)

False

In [27]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [59]:
def has_33(nums):
    value = False
    for item in range(0,len(nums)-1):
        if nums[item]==3 and nums[item+1]==3:
            value = True
    return value

In [60]:
# Check
has_33([1, 3, 3])

True

In [61]:
# Check
has_33([1, 3, 1, 3])

False

In [62]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [77]:
def paper_doll(text):
    char = ''
    for item in text:
        char += item*3
    return char

In [78]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [79]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [172]:
def blackjack(a,b,c):
    #if the sum of the integers is <= 21 --> return sum
    value = 0

    return value
    #if their sum exceeds 21 and there is an 11 |reducce the total
    # else rudture 'BUST'

In [173]:
# Check
blackjack(5,6,7)

18

In [174]:
# Check
blackjack(9,9,9)

'BURST'

In [175]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [189]:
def summer_69(arr):
    #return number in the array


    return value

In [190]:
# Check
summer_69([1, 3, 5])

9

In [191]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [192]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [9]:
def spy_game(nums):
    for item in range(0,len(nums)-3):

    return (value)

In [6]:
# Check
spy_game([1,2,4,0,0,7,5])

False

In [7]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [8]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [3]:
def count_primes(num):
  
 
    return len(primes)
    
#a prime number is a number greater the 1
#

In [4]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

PIG Latin

1. check if word starts with a vowel, if it does add ay to the end
2. if word does not start with a vowel do two things 
3. put first letter at the end
4. add 'ay' at the end